<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>New Customer Type</h1>
            </div>

            <%= render 'form', customertype: @customertype %>

            <div class="card-footer">
                <%= link_to 'Back', :back, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>