<p id="notice"><%= notice %></p>

<p>
  <strong>Customertype:</strong>
  <%= @customertype.customertype %>
</p>

<%= link_to 'Edit', edit_customertype_path(@customertype) %> |
<%= link_to 'Back', customertypes_path %>
