<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Customer Type</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Customer Type:</strong>
                    <%= @customertype.customertype %>
                </p>

                <% unless @customertype.customers.empty? %>
                <p>
                    <strong>Customers:</strong>
                    <ul style="columns: 3 200px;">
                        <% @customertype.customers.each do |customer| %>
                        <li><%= link_to customer.try(:cus_fullname), customer %>
                            <% end %>
                        </li>
                    </ul>
                </p>
                <% end %>
            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_customertype_path(@customertype), class: "btn btn-primary" %>
                <%= link_to 'Back', customertypes_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>