<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-heading">
                <h1>Editing Order Auction</h1>
            </div>

            <%= render 'form', order_auction: @order_auction %>

            <div class="card-footer">
                <%= link_to 'Show', @order_auction, class: "btn btn-primary" %>
                <%= link_to 'Back', order_auctions_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>