<p id="notice"><%= notice %></p>

<p>
  <strong>Employeestatus:</strong>
  <%= @employeestatus.employeestatus %>
</p>

<%= link_to 'Edit', edit_employeestatus_path(@employeestatus) %> |
<%= link_to 'Back', employeestatuses_path %>
