<p>
  <strong>Employee Status:</strong>
  <%= @employeestatus.employeestatus %>
</p>

<%= link_to 'Edit', edit_employeestatus_path(@employeestatus) %> |
<%= link_to 'Back', employeestatuses_path %>
