<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Employee Status</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Employee Status:</strong>
                    <%= @employeestatus.employeestatus %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit',  edit_employeestatus_path(@employeestatus), class: "btn btn-primary" %>
                <%= link_to 'Back', employeestatuses_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>