<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Editing Container Order</h1>
            </div>

            <%= render 'form', containerorder: @containerorder %>

            <div class="card-footer">
                <%= link_to 'Show', @containerorder, class: "btn btn-primary" %>
                <%= link_to 'Back', containerorders_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>