<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-heading">
                <h1>New Invoice Status</h1>
            </div>

            <%= render 'form', invoicestatus: @invoicestatus %>

            <div class="card-footer">
                <%= link_to 'Back', invoicestatuses_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>