<p id="notice"><%= notice %></p>

<p>
  <strong>Invoicestatus:</strong>
  <%= @invoicestatus.invoicestatus %>
</p>

<%= link_to 'Edit', edit_invoicestatus_path(@invoicestatus) %> |
<%= link_to 'Back', invoicestatuses_path %>
