<div class="card border-primary mb-3" style="max-width: 160rem;">
  <div class="card-header">
        
         <h1>Editing Invoice</h1>

    </div>
  <div class="card-body">

        <%= render 'form2', invoice: @invoice %>

        <div class="card-footer">
        <%= link_to 'Show', @invoice, class: "btn btn-primary" %>
        <%= link_to 'Back', invoices_path, class: "btn btn-secondary" %>

        </div>
    </div>
</div>