<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Editing Order Status</h1>
            </div>

            <%= render 'form', orderstatus: @orderstatus %>

            <div class="card-footer">
                <%= link_to 'Show', @orderstatus, class: "btn btn-primary" %>
                <%= link_to 'Back', orderstatuses_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>