<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-heading">
                <h1>Editing Shipment Method</h1>
            </div>

            <%= render 'form', shipmentmethod: @shipmentmethod %>

            <div class="card-footer">
                <%= link_to 'Show', @shipmentmethod, class: "btn btn-primary" %>
                <%= link_to 'Back', shipmentmethods_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>