<p id="notice"><%= notice %></p>

<p>
  <strong>Shipmentmethod:</strong>
  <%= @shipmentmethod.shipmentmethod %>
</p>

<%= link_to 'Edit', edit_shipmentmethod_path(@shipmentmethod) %> |
<%= link_to 'Back', shipmentmethods_path %>
