<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>New Invoice Shipment</h1>
            </div>

            <%= render 'form', invoiceshipment: @invoiceshipment %>

            <div class="card-footer">
                <%= link_to 'Back', invoiceshipments_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>