<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Invoice Shipment</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Shipment #:</strong>
                    <%= @invoiceshipment.shipment.shipmentnum %>
                </p>
                <p>
                    <strong>Invoice #:</strong>
                    <%= @invoiceshipment.invoice.invoicenum %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit',  edit_invoiceshipment_path(@invoiceshipment), class: "btn btn-primary" %>
                <%= link_to 'Back', invoiceshipments_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>