<p>
  <strong>Customer Status:</strong>
  <%= @customerstatus.customerstatus %>
</p>

<%= link_to 'Edit', edit_customerstatus_path(@customerstatus) %> |
<%= link_to 'Back', customerstatuses_path %>
