<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Customer Status:</strong>
                    <%= @customerstatus.customerstatus %>
                </p>

                <%= link_to 'Edit', edit_customerstatus_path(@customerstatus), class: "btn btn-primary" %>
                <%= link_to 'Back', customerstatuses_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>