<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-heading">
                <h1>Editing Auction</h1>
            </div>

            <%= render 'form', auction: @auction %>

            <div class="card-footer">
                <%= link_to 'Show', @auction, class: "btn btn-primary" %>
                <%= link_to 'Back', auctions_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>
