<p id="notice"><%= notice %></p>

<p>
  <strong>Title Status:</strong>
  <%= @titlestatus.titlestatus %>
</p>

<%= link_to 'Edit', edit_titlestatus_path(@titlestatus) %> |
<%= link_to 'Back', titlestatuses_path %>
