<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>New Container</h1>
            </div>

            <%= render 'form', container: @container %>

            <div class="card-footer">
              <%= link_to 'Back', controller: "containers" %>
            </div>
        </div>
    </div>
</div>