<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Editing Payment Method</h1>
            </div>

            <%= render 'form', paymentmethod: @paymentmethod %>

            <div class="card-footer">
                <%= link_to 'Show', @paymentmethod, class: "btn btn-primary" %>
                <%= link_to 'Back', paymentmethods_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>