<p id="notice"><%= notice %></p>

<p>
  <strong>Payment Method:</strong>
  <%= @paymentmethod.paymenttype %>
</p>

<%= link_to 'Edit', edit_paymentmethod_path(@paymentmethod) %> |
<%= link_to 'Back', paymentmethods_path %>
