<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Editing Customer</h1>
            </div>

            <%= render 'form', customer: @customer %>

            <div class="card-footer">
                <%= link_to 'Show', @company, class: "btn btn-primary" %>
                <%= link_to 'Back', customers_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>