<%# Nested Form Partial %>
<div class='nested-fields'>

    <div class="field">
        <%= f.collection_select :auction_id, Auction.where("id > 1").order(created_at: :desc), :id, :auctionname, {include_blank: ""}, required: true %>
    </div>

    <%= link_to_remove_association "Remove Auction", f %>

</div>
<%# End of Nested Form Partial %>