<div class='nested-fields'>

    <div class="field">
        <%= f.label :departmentname, "Department Name"%>
        <%= f.text_field :departmentname %>
    </div>

    <%= link_to_remove_association "Remove Department", f %>

</div>