<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-heading">
                <h1>Editing Key Status</h1>
            </div>

            <%= render 'form', keystatus: @keystatus %>

            <div class="card-footer">
                <%= link_to 'Show', @keystatus, class: "btn btn-primary" %>
                <%= link_to 'Back', keystatuses_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>