<p>
  <strong>Picture:</strong>
  <%= @picture.picture %>
</p>

<p>
  <strong>Order Number:</strong>
  <%= @picture.order.try(:ordernum) %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
