<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Editing Shipment Status</h1>
            </div>

            <%= render 'form', shipmentstatus: @shipmentstatus %>

            <div class="card-footer">
                <%= link_to 'Show', @shipmentstatus, class: "btn btn-primary" %>
                <%= link_to 'Back', :back, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>