<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Shipment Status</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Shipment Status:</strong>
                    <%= @shipmentstatus.shipmentstatus %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_shipmentstatus_path(@shipmentstatus), class: "btn btn-primary" %>
                <%= link_to 'Back', shipmentstatuses_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>