/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

html, body {
	margin: 0;
	padding: 0;
			font-family: 'Trebuchet MS',
			Helvetica,
			sans-serif;
}

.row-fluid {
	display: flex;
	justify-content: center;
	padding: 1em;
}

.background-image {
	background-image: url("Car_Cargo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.header {
  height: 70px;
	position: relative;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    position:absolute;
    bottom:0;
    right:0;
}

.header-right p {
    padding-right: 6px;
}

.navigation {
	position: sticky;
	top: 0;
	width: 100%;
}

 /*flash*/
 .alert-error {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
 }

 .alert-alert {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
 }

 .alert-success {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
 }

 .alert-notice {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
 }