/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

html, body {
	margin: 0;
	padding: 0;
			font-family: 'Trebuchet MS', 'Roboto'
			Helvetica,
			sans-serif;
}

.background-image {
	background-image: url("https://bototomstone.sfo2.digitaloceanspaces.com/Car_Cargo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.header {
  height: 70px;
	position: relative;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    position:absolute;
    bottom:0;
    right:0;
}

.header-right p {
    padding-right: 6px;
}

.navigation {
	position: sticky;
	top: 0;
	width: 100%;
}

.row-fluid, .card {
	display: flex;
	justify-content: center;
	margin: 1.5em;
}

.content a {
	color: #0000EE;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.content a:hover {
	background-color: transparent;
}

.content a:visited {
	color: #551A8B;
	background-color: transparent;
}

.btn-primary, .btn-secondary {
	color: #ffffff !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
	color: #ffffff !important;
	background-color: #0495c9 !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-primary {
	background-color: #6C757D !important;
}

form {
	position: relative;
	width: 100%;
}

.field input, select, option
 {
	position: absolute;
	left: 180px;
	width: calc(100% - 50%);
}

 /*flash*/
 .alert-error {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
 }

 .alert-alert {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
 }

 .alert-success {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
 }

 .alert-notice {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
 }