<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Warehouse</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Warehouse Name:</strong>
                    <%= @warehouse.warehousename %>
                </p>
                <p>
                    <strong>Location:</strong>
                    <%= link_to @warehouse.location.city, @warehouse.location %>
                </p>


            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_warehouse_path(@warehouse), class: "btn btn-primary" %>
                <%= link_to 'Show Warehouses', warehouses_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>