<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Orders per Auctions</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Auction</th>
                        <th>Total Orders</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @auction_orders.each do |auction_order| %>
                    <tr>
                        <td><%= auction_order.auctionname %></td>
                        <td><%= auction_order.total_orders %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>