<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Location</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>City:</strong>
                    <%= @location.city %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_location_path(@location), class: "btn btn-primary" %>
                <%= link_to 'Back', locations_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>