<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Editing Image Description</h1>
            </div>

            <div class="view overlay">
              <%= image_tag @image.image, class:"card-img-top img-fluid" %>
              <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <%= render 'form_edit', image: @image %>

            <div class="card-footer">
                <%#= link_to 'Show', @image, class: "btn btn-primary" %>
                <%= link_to 'Back', images_path, class: "btn btn-secondary" %>

            </div>
        </div>
    </div>
</div>